*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( #00bbd467, rgba(242, 240, 240, 0.337)) ,url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJ1aWxkaW5nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}


.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}


.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300px;
}


.container .contactInfo .box .text h3{
    font-weight: 300px;
    color: #00bcd4;
}


.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    height: 50px;
}


.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span , 
.contactForm .inputBox textarea:focus ~ span ,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{padding: 50px;}
    .container{flex-direction: column;}
    .container .contactInfo{margin-bottom: 40px;}
    .container .contactInfo, 
    .contactForm{width: 100%;}
}


.footer{
    padding: 40px 0;
    background-color: #000000;
}

.footer .Icons{
    text-align: center;
    padding-bottom: 25px;
}

.footer .Icons a{
    font-size: 34px;
    color: aqua;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    background-color: black;
    box-shadow: 2px 2px 2px #ededed;
    opacity: 0.8;
}

.footer .Icons a:hover{
    opacity: 1;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    text-decoration: none;
    color: white;

}

.footer ul li a:hover{
    color: darkolivegreen;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #eded;
}


            /* popup styling */

.mother{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: #000000; */
    align-items: center;
    justify-content: center;
}
.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

