.navbar-edit{
    background: black;
    border: none;
    border-radius: 8px;
    margin-bottom: 0%;
}

.navbar-edit .navbar-nav>li>a{
    color: yellow;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
}



.navbar-edit .navbar-brand {
    color: rgb(43, 226, 208);
    font-weight: bolder;
}


.flag{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;

}

.carousel{
    border-radius: 8px;
    height: 500px;
    margin-bottom: 20px;
}

.black-cap{
    color: whitesmoke;
}

.cap{
    position: absolute;
    top: 110px;
    color: whitesmoke;
}